.map{
	width: 100%;
	height: 100%;
}

/* popup styles: */
/*.leaflet-popup-content-wrapper{
	--hello: 'welt';
	border-radius: 0 !important;
	padding: 0 !important;
}
.leaflet-popup-content{
	margin: 0 !important;
}
.popupBackground {
	padding: 8px;
	border: 4px solid white;
}
.popupContent {
	background: white;
	padding: 8px;
}
.popupContent h1{
	margin-right: 38px;
}
.popupContent p{
	margin: 18px 0 0 0;
}
.leaflet-container a.leaflet-popup-close-button {
	padding: 27px 27px 0 0 !important;
	color: red !important;
	font-size: 24px !important;
}*/


.leaflet-container .leaflet-control-attribution{
	position: fixed;
	right: 4px;
	bottom: 4px;
	/*left: 4px;*/
	text-align: right;
	backdrop-filter: blur(16px);
	border-radius: 4px;

	font-size: 0.75rem !important;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
	font-weight: 400 !important;
	/*line-height: 1.66 !important;*/
	letter-spacing: 0.03333em !important;

	height: 20px !important;
	line-height: 20px !important;

	pointer-events: none;

	background: rgba(255,255,255,0.3) !important;
	color: black;
}
.leaflet-container .leaflet-control-attribution a{
	color: inherit;
	pointer-events: auto;
}
@media (prefers-color-scheme: dark) {
	.leaflet-container .leaflet-control-attribution{
		background: rgba(0,0,0,0.3) !important;
		color: rgba(255,255,255,0.8);
	}
}


.marker-cluster-custom-icon{
	/* body-1 */
	/*font-size: 1rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.00938em;*/

	/* button-text */
	font-size: 0.875rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 500;
	line-height: 1.75;
	letter-spacing: 0.02857em;
	text-transform: uppercase;

	font-weight: 900;

	border-radius: 100%;
	text-align: center;

	/*box-shadow: inset 0 0 0 4px white;*/
	/*background: #607d8b;*/
	/*color: white;*/

	box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 6px 10px 0px rgba(0,0,0,0.14),0px 1px 18px 0px rgba(0,0,0,0.12);
}
.marker-cluster-custom-icon .number{
	z-index: 2;
	position: absolute;
	width: 40px;
	height: 40px;
	line-height: 40px !important;
	top: 4px;
	left: 4px;
	border-radius: 50%;

	background: white;
	color: black;
}
@media (prefers-color-scheme: dark) {
	.marker-cluster-custom-icon .number{
		background: #181818;
		color: white;
	}
}
.marker-cluster-custom-icon .pieChart{
	z-index: 1;
	position: absolute;
	width: 48px;
	height: 48px;
	top: 0;
	border-radius: 50%;
}


.marker-custom-icon{
	margin-top: -45px !important;
}
.marker-custom-icon .wrapper{
	--bg-color: #607d8b;
	--fg-color: white;

	z-index: 1;

	width: 40px;
	height: 40px;
	text-align: center;

	border-radius: 100%;

	color: var(--fg-color);
}
.marker-custom-icon .wrapper.material-icons,
.marker-custom-icon .wrapper.material-icons-outlined,
.marker-custom-icon .wrapper.material-icons-sharp,
.marker-custom-icon .wrapper.material-icons-two-tone{
	line-height: 38px;
}
.marker-custom-icon .wrapper.material-icons-round{
	line-height: 40px;
}

.marker-custom-icon .wrapper::before {
	content: '';
	position: absolute;
	z-index: -2;

	left: 50%;
	bottom: -3px;
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	margin-left: -5px;

	background: var(--bg-color);
	box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
}
.marker-custom-icon .wrapper::after {
    content: '';
    position: absolute;
    z-index: -1;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: var(--bg-color);
    border-radius: 100%;

    /*box-shadow: inset 0 0 0 4px white;*/
}
