


html body .questionCard{
	padding: 12px 32px;
	margin: 0 -16px;
	border-radius: 0;
	opacity: 1;
	/*background: rgba(0,0,0,0);*/
	border-right-color: transparent !important;
	border-left-color: transparent !important;

	transition:
		opacity       var(--transition-time) var(--timing-function) 0ms,
		border-radius var(--transition-time) var(--timing-function) 0ms,
		border-color  var(--transition-time) var(--timing-function) 0ms,
		background    var(--transition-time) var(--timing-function) 0ms,
		padding       var(--transition-time) var(--timing-function) 0ms,
		margin        var(--transition-time) var(--timing-function) 0ms
	;
}
html body .questionCard:not(.active):not(:hover) {
	background: transparent;
	border-color: transparent;
}
html body .questionCard:not(.active) {
	border-color: transparent;
}
html body .questionCard:hover {
	cursor: pointer;
}
html body .questionCard.answered {
	cursor: default !important;
	opacity: 0.3 !important;
	pointer-events: none !important;
}
html body .questionCard.active{
	cursor: default;

	padding: 32px 32px;
	margin: 16px -16px;
}
html body .questionCard.active:first-child{
	margin-top: -16px;
	border-top-color: transparent;

	border-top-right-radius: var(--border-radius);
	border-top-left-radius: var(--border-radius);
}

html body .questionCard .possibleAnswers{
	display: flex;
	align-items: stretch;
	align-content: stretch;
	justify-content: space-between;

	overflow: hidden;
	opacity: 0;
	height: 0;
	margin: 0 -8px 0 -8px;
	transition:
		opacity var(--transition-time) var(--timing-function) 0ms,
		height  var(--transition-time) var(--timing-function) 0ms,
		margin  var(--transition-time) var(--timing-function) 0ms;
}
html body .questionCard.active .possibleAnswers{
	opacity: 1;
	margin: 24px -8px -8px -8px;
	height: 66.25px;
}
html body .questionCard.hasInputField.active .possibleAnswers{
	height: auto;
}


html body .questionCard .saveButton{
	display: none;
}
html body .questionCard.hasInputField.active .saveButton{
	display: flex;
	justify-content: flex-end;
	margin: 32px 0 0 -16px;
}
