/*
* {
	font-family: Roboto, sans-serif;  
}
*/

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-BoldItalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Thin-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-ThinItalic-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Light-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-LightItalic-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Medium-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-MediumItalic-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: fallback;
}
