* {
	margin: 0;
	padding: 0;
}

body {
	--color-paper: white;
	--color-surface: #f5f5f5;
	--light-green: #00E676;

	--z-index-page: 1;
	--z-index-fabs: 2;
	--z-index-infocard: 3;
	--z-index-sidebar: 4;
	--z-index-searchbar: 5;

	--border-radius: 8px;

	--transition-time: 200ms;
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	/*background: black;*/
	overflow: hidden;
}
/*#root{
	border-radius: 8px;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}*/

html body .MuiPaper-rounded,
html body .MuiButton-root{
	border-radius: 8px;
}

html body .addNewFab{
	z-index: var(--z-index-fabs);
	position: absolute;
	background: black !important;
	color: white;

	top: auto;
	bottom: 16px;
	left: 16px;
}
@media (max-width: 500px) {
	html body .addNewFab{
		right: 16px;
		left: auto;
		bottom: calc(20px + 16px);
	}
}

.filtersPanel{
	z-index: var(--z-index-fabs);
	position: absolute;

	top: calc(16px + 9px);
	left: calc(400px + 8px);
	max-width: calc(calc(100% - 400px) - 16px);

	pointer-events: none;
}
.filtersPanel .filterMenuInner{
	pointer-events: none;
}
.filtersPanel .filterMenuInner button{
	pointer-events: auto;
}
@media (max-width: 800px) {
	.filtersPanel{
		top: calc(52px + 16px);
		left: 0;
		right: 0;
		padding: 16px;
		max-width: none;
		overflow: auto;
		white-space: nowrap;

		pointer-events: auto;
	}
	.filtersPanel .filterMenuInner{
		display: inline-block;
		padding-right: 16px;

		pointer-events: auto;
	}
}

.page {
	z-index: var(--z-index-page);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	transition: left var(--transition-time) var(--timing-function);
}
.page.sidebarIsOpen{
	left: 200px;
}


.SearchBar,
.InfoCard,
.Sidebar{
	position: absolute;
	height: auto;
	width: 400px;
	max-width: 100%;
	left: 0;
}

html body .Sidebar{
	z-index: var(--z-index-sidebar);
	top: 0;
	bottom: 0;

	border-radius: 0;
	/*padding-top: 86px;*/

	overflow: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
.Sidebar.hide{
	display: none;
}

.SearchBar{
	z-index: var(--z-index-searchbar);
	top: 0;
}
.InfoCard{
	z-index: var(--z-index-infocard);
	bottom: 0;
}






