.header {
	/*margin: 0;*/
	/*padding: 0;*/
	/*border-radius: 52px !important;*/

	/*transition: box-shadow var(--transition-time) var(--timing-function) 0s !important;*/
}
.header.sidebarIsOpen {
	/*margin: 0;*/
	/*padding: 16px;*/
	/*border-radius: 0 !important;*/

	/*box-shadow: 0 0 0 1px rgba(0,0,0,0.12) !important;*/
}

.header .searchBar {
	/*margin: 0;*/
	/*padding: 0;*/
	display: flex;
	align-items: center;
}
.header.showingSearchResults .searchBar,
.header.showingWebsiteIntro .searchBar{
	border-bottom: 1px solid rgba(0,0,0,0.12);
}

.header .searchInput{
	height: 52px;
	padding: 0; /* '0 4px 0 16px', // '0 4px', */
	flex: 1;
}

.header .searchResults {
	overflow: auto;
	max-height: calc(calc(100vh - 56px) - 32px);

	display: none;
}
.header.showingSearchResults .searchResults {
	display: block;
}

.header .websiteIntro {
	display: none;
}
.header.showingWebsiteIntro .websiteIntro {
	display: block;
}


