.header .searchBar {
	display: flex;
	align-items: center;
}

.header .searchInput{
	height: 52px;
	padding: 0; /* '0 4px 0 16px', // '0 4px', */
	flex: 1;
}

.header .scrollWrapper {
	overflow: auto;
	max-height: calc(calc(100vh - 56px) - 32px);
}
.header .searchResults {
	display: none;
}
.header.showingSearchResults .searchResults {
	display: block;
}

.header .websiteIntro {
	display: none;
}
.header.showingWebsiteIntro .websiteIntro {
	display: block;
}
.header .websiteIntro .emojiIcon {
	border-radius: 100%;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 40px;
}


