.MuiCardContent-root .MuiListItem-gutters {
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 -16px;
    width: calc(100% + 32px);
}

.MuiSlider-track{
	background: green;
}

html body .MuiListSubheader-sticky {
	top: -2px;
	background: white;
}

html body .sidebarContentCard{
	position: relative;
	overflow: visible;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background: var(--color-surface);
	flex-grow: 1;
}
/*.sidebarContentCard:after{
	content: '';
	position: absolute;
	right: 0;
	left: 0;
	bottom: -50px;
	height: 50px;
	background: white;
}*/


html body .improveFab{
	z-index: var(--z-index-fabs);
	position: fixed;
	background: black !important;
	color: white;

	bottom: 16px;
	left: 16px;
}
html body .improveFab .icon{
	color: var(--light-green);
	margin-right: 8px;
}
@media (max-width: 500px) {
	html body .improveFab{
		right: 16px;
		left: auto;
	}
}