.map{
	width: 100%;
	height: 100%;
}

/* popup styles: */
.leaflet-popup-content-wrapper{
	--hello: 'welt';
	border-radius: 0 !important;
	padding: 0 !important;
}
.leaflet-popup-content{
	margin: 0 !important;
}
.popupBackground {
	padding: 8px;
	border: 4px solid white;
}
.popupContent {
	background: white;
	padding: 8px;
}
.popupContent h1{
	margin-right: 38px;
}
.popupContent p{
	margin: 18px 0 0 0;
}
.leaflet-container a.leaflet-popup-close-button {
	padding: 27px 27px 0 0 !important;
	color: red !important;
	font-size: 24px !important;
}

.marker-cluster-custom-icon {
	/* body-1 */
	/*font-size: 1rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.00938em;*/

	/* button-text */
	font-size: 0.875rem;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 500;
	line-height: 1.75;
	letter-spacing: 0.02857em;
	text-transform: uppercase;

	font-weight: 900;

	line-height: 40px !important;
	border-radius: 100%;
	text-align: center;

	/*box-shadow: inset 0 0 0 4px white;*/
	/*background: #607d8b;*/
	/*color: white;*/

	background: white;
	color: black;
	box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 6px 10px 0px rgba(0,0,0,0.14),0px 1px 18px 0px rgba(0,0,0,0.12);
}
